<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body><a href="http://www.peas-n-queues.herokuapp.com/">Peas-n-Queues</a>
    <h2>Hi, <%= @user.name %> </h2>
    <h1>THERE IS A TOOL AVAILABLE FOR YOU IN THE TOOL BOX!</h1>
    <p>
      Specifically, there is a <%= @tool.name %> ready and waiting for you! Come and get it within the next 48 hours, else we will release it to the next gardener in the queue.
    </p>
    <p>Smooches,</p>
    <p>the peas 'n' queues team.
  </body>
</html>
