<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body><a href="http://www.peas-n-queues.herokuapp.com/">Peas-n-Queues</a>
    <h2>Hi, <%= @user.name %> </h2>
    <h1>Your event, <%= @event.name %>, is tomorrow, <%= @event.date %></h1>
    <p>
      Be sure to invite your friends and bring your gardening gloves!
    </p>
    <p>Smooches,</p>
    <p>the peas 'n' queues team.
  </body>
</html>
