<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body><a href="http://www.peas-n-queues.herokuapp.com/">Peas-n-Queues</a>
    <h2>Hi, <%= @user.name %> </h2>
    <p>
      Thanks for updating your profile! We'll drop you a line when there's a new blog post.
    </p>
    <p>Dig in!</p>
  </body>
</html>