// Place all the styles related to the tools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin: 10%;
  font-family: Lucida Grande;
}

#title {
  text-align: center;
  padding-bottom: 20px;
}

.container #rent_button {
  background-color: red;
  text-align: center;
}

table {
  width: 100%;
}

.tool_box {
  background-image: url(asset_path('tomato.png'));
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  height: 250px;
  
}