/*// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.large-4.small-6.columns ul li {
  list-style-type: none;
  font-weight: bold;
}

.large-12.hide-for-small.quote {
  margin-top: 1%;
  margin-bottom: 1%;
  color: #195730;
  font-family: Papyrus;
  font-style: italic;
  text-align: center;
  font-size: 14pt;
}

.large-12.hide-for-small.flash {
  margin-bottom: 1%;
  color: red;
  font-family: Papyrus;
  font-style: italic;
  text-align: center;
  font-size: 14pt;
}